@import url(//fonts.googleapis.com/css?family=Quicksand:400,700);

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: #f2f2f2;
}

.navbar h1 {
  color: #7d7dd9;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #7d7dd9;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}